.Main {
    color: #c8c3bc;
    background-color: #181a1b;
    padding: 20px 20px 0px 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    margin-bottom: 50px;
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 10px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1b1e1f;
    width: 100%;

    .occupied {
        width: 100%;
        margin: 0px;
        padding: 0px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-right: 1px solid black;
        border-left: 1px solid black;
        z-index: 10;
    }
}

.label {
    font-size: 16px;
    color: #c8c3bc;
    margin-bottom: 5px;
}

.value {
    margin: 10px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    color: #c8c3bc;
}
.chart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 380px;
    margin: 100px 0px;

    canvas {
        padding: 10px;
    }
}

.map {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    .stat {
        flex-basis: 100%; // Each stat takes full width on small devices
    }

    .value {
        font-size: 24px; // Smaller font size for smaller screens
    }
    .label {
        font-size: 13px; // Smaller font size for smaller screens
    }
    .chart {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
    }
}
