.Prediction {
    color: black;
}
.PredictionContainer {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 30px;
}
.TextPrediction {
    margin: 40px 0px;
}
.BarChart {
    width: 80%;
    align-items: center;
}

.BarChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ExplanationText {
    font-size: 14px;
    color: #c8c3bc;
    margin: 10px 0px 80px 0px;
    font-style: italic;
}
