.HistoryContainer {
    width: 95%;
    margin-left: 2.5%;
}
.HistoryTableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.HistoryTable {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 50px;
    border-radius: 6px;
    width: 100%;
    overflow-x: auto;
}
.ExplanationText {
    font-size: 14px;
    color: #c8c3bc;
    font-style: italic;
}

.OcupationContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .HistoryTable {
        width: 500px;
        font-size: 12px;

        table {
            width: 1000px;
        }
    }
}
