.home,
.notifications {
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between; // Ensures space distribution
  align-items: center;
  border-bottom: 1px solid #c8c3bc;
  background-color: #181a1b;
  padding: 10px 20px;

  a {
    text-decoration: none;
  }

  :hover {
    color: #827d78;
  }
}

.navCenter {
  display: flex; // Aligns items in a row for the center part
  justify-content: center; // Centers items horizontally
}

.navLink {
  color: #c8c3bc;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  top: 100%;
  left: 0;
}

.navLink:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  clear: both;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.MenuIcon {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #181a1b;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    z-index: 100;
  }

  .navCenter.show {
    max-height: 400px;
    opacity: 1;
  }

  .navLink {
    display: block;
    padding: 15px;
  }

  .dropdownContent {
    position: relative;
    display: none;
  }

  .showDropdown {
    display: block;
  }
}

.notifications {
  display: flex;
  align-items: center;
}
